h1{
    text-align: center;
}

.seleccionar{
    text-align: center;
}

.fotoderecha{

    
    
}

.LadoDerecho{
    margin: 20px;
    float: right;
    text-align: center;
}

.foto-izq{
    
    margin: 20px; 
    float: left;
    width: 1000px;
    height: 2000px;
   

}





