h1{
    margin-top: 5%;
    text-align: center;
}

.Seleccionar{
   
    margin-left: 25%;
    text-align: left;
    float: left;
}

.foto{
 
float: right;
margin-right: 13%;
}

#fotoderecha{

    height: 390px;
    width: 200px;
   
}

.LadoDerecho{
    margin-right: 12%;
    margin-top: 2%;
    float: right;
    text-align: center;
}


.foto-izq{
    
    
   

}


.componentes{
    width: 900px;
}

.container-principal{
     /*hacer fondo*/
}






