@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-image: url(../img/fondoCiudad.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.tronco{
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-family: 'Bebas Neue';
    color: #333;
    width: 60%;
    align-self: center;
    padding-bottom:80px; 
  
    
}

/*** CSS de la cabecera ***/
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 150px;
}
@font-face{
    font-family: "PriceDown";
    src: url(../font/pricedown\ bl.otf);

}
.slogan{
    font-family: "PriceDown";
    padding-left: 120px;
    color: #fffe9f;
    text-shadow: black 1px 2px 1px;
}
nav{
    padding-right: 100px;
}
nav a{
    font-size: 20px;
    padding-right: 50px;
    transition: all 0.4s linear;
    border-radius:3px;
    text-decoration: none;
    color:white;
    text-shadow: #F27DFD 1px 2px 1px;
}
nav a:hover{
    color: #0bd3d3;
    text-shadow: #F27DFD 1px 2px 1px;
}

/*** CSS del buscador ***/
.buscar{
    position: relative;
    left: -100px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn{ 
    position: absolute;
    top: 0;
    right: 0;
    background: #0bd3d3;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer; 
}
.buscar:hover input{
    width: 140px;
}
.buscar input:focus{
    width: 140px;
}

/*** CSS de la subcabecera ***/
.subheader{
    box-shadow: #0bd3d3 0px 0px 30px ;
    margin-top: 7px;
    height: 10px;
}
.subnav{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns:repeat(3,400px);
    grid-gap:90px;  
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}


/*** CSS de la subcabecera ***/
.subheader{
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    box-shadow: #0bd3d3 0px 0px 30px ;
    margin-top: 7px;
    height: 10px;
}

/** menu desplegable **/
.subnav{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: flex;
	justify-content: space-around;
    display: inline-block; 

}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #333;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    opacity: 95%;
    z-index: 1;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #333;
}
.menu-vertical li a{
	display: block;
    text-align: left;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
.submenu{
	position: absolute;
    top: 10px;
    left: 200px;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #333;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    z-index: 2;

}
.menu-vertical li:hover .submenu{
	display: block;
}
.submenu li:hover{
	background-color: #333;
}
.submenu ul{
    list-style: none;
}
.submenu li a{
	display: block;
    text-align: left;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

/*** CCSS del footer ***/
.footer{
    width: 100%;
    background-color: #333;
    box-shadow: #0bd3d3 0px 0px 200px ;
    margin-top: auto;
    opacity: 90%    ;
}
.footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap:50px;
    padding: 45px 0;
}
.footer .grupo1 .box{
    display: block;  
}
.footer .grupo1 .box h5{
    font-family: "PriceDown";
    color: #fffe9f;
    text-shadow: black 1px 2px 1px;
    font-size: 20px;
  
}
.footer .grupo1 .box p {
    color: white;
    margin-bottom: 10px;
}
.footer .grupo1 .box a{
    display: block;
    text-decoration: none; 
    color: white;
    text-shadow: #F27DFD 1px 1px 1px;
    text-align: center;
    transition: all 300ms ease;
}
.footer .grupo1 .box a:hover{
    color:#0bd3d3;
    text-shadow: #F27DFD 1px 1px 1px;
}
.footer .grupo2{
    background-color: #333;
    padding:15px 10px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
}
/*** Para que el footer sea responsive ***/
@media screen and (max-width:800px){
    .footer .grupo1{
        width: 90%;
        grid-template-columns:repeat(1,1fr);
        grid-gap:30px;
        padding: 35px 0;
    }
}

hr{
    width: 50%;
}


/**tronco**/


H2{
    color: black ;
    text-shadow: #0bd3d3 1px 2px 1px;
}


#captchaBackground {

    height: 150px;
    width: 400px;
    background-image: linear-gradient(to bottom right, #F27DFD, #08e5ff);   
    box-shadow: #08e5ff   1px 1px 10px ;    
    margin-top:20px;  
    color:black
}


.Letras{
    display: flex;
    align-items: start;
    justify-content: space-evenly;

}

.center {
    float: right;
    align-items: center;
    
    margin-right: 100px;
}

#submitButton {
    margin-top: 1em;
    margin-bottom: 2em;
    background-image: linear-gradient(to bottom right, #F27DFD, #08e5ff);
    box-shadow: #08e5ff   1px 1px 10px ;       
    border: 0px;
    font-weight: bold;
}

#refreshButton {
    background-image: linear-gradient(to bottom right, #F27DFD, #08e5ff);   
    box-shadow: #08e5ff   1px 1px 10px ;        
    border: 0px;
    font-weight: bold;
}
#Especialidad{
    margin-left: 100px;
    margin-bottom: 100px;
    float: left;
}

#textBox { 
  margin-top: 60px;
  margin-right: 25px;
  height: 20px;
  box-shadow: #0bd3d3  1px 1px 10px ;
}
#selected{
    margin-top: 20px;
    box-shadow: #0bd3d3  1px 1px 10px ;
}
#email{
    width: 300px;   
    height: 20px;
    box-shadow: #0bd3d3  1px 1px 10px ;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}
