#Cuadro1{

    border: 2px solid black;
    clear: both;
    height: auto;
}

#Carrito{
    padding-left: 1660px;
    padding-right: 5px;
}

#Inicio{

    padding-left: 5px;
    padding-right: 5px;
    
}

#Registrate{
    padding-left: 5px;
    padding-right: 5px;
    
}